* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    left: 0;
    top: 0;
    position: absolute;
<<<<<<< HEAD
}

=======
    background: url("images/wallpaper.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    background-position-x: center;
}

.background {
    position: relative;
    background-color: rgba(0, 183, 255, 0.459);
}

>>>>>>> 466e09e991424cd3ddf210a898edac85b86ce845
.navbar {
    position: absolute;
}

#sideMenu {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(137, 103, 138, 0.582);
    visibility: hidden;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    z-index: 20;
}

.title {
    width: 100vw;
    height: 10vh;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(255, 0, 212, 0.747);
    z-index: 18;
}

.title-text {
    font-size: 9.5vmin;
<<<<<<< HEAD
    font-family: "play";
=======
    font-family: 'play';
>>>>>>> 466e09e991424cd3ddf210a898edac85b86ce845
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

input {
    width: 10vw;
    height: 10vh;
    position: relative;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.open {
    width: 2vw;
    height: 3vh;
    display: flex;
    position: fixed;
    z-index: 21;
    top: 4vh;
    left: 2vw;
    cursor: pointer;
}

.open span:nth-child(1) {
    width: 2vw;
    height: 0.7vh;
    left: 0vw;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 2vmin;
    top: 0vh;
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.open span:nth-child(2) {
    width: 2vw;
    height: 0.7vh;
    position: absolute;
    left: 0vw;
    background-color: rgb(0, 0, 0);
    border-radius: 2vmin;
    top: 1vh;
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
    z-index: 1;
    cursor: pointer;
}

.open span:nth-child(3) {
    width: 2vw;
    height: 0.7vh;
    left: 0vw;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 2vmin;
    top: 2vh;
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
<<<<<<< HEAD
}

.menu {
    position: relative;
    top: 10vh;
}

.menu li {
    color: white;
    border-bottom: 5vh solid transparent;
}

.menu li a {
    font-family: "notable";
    text-decoration: none;
    color: black;
    display: block;
    text-transform: uppercase;
    padding: 20px;
}

.nav {
    width: 40vmin;
    border: none;
    border-radius: 2.5vh;
}

#ham:checked~label span:nth-child(1) {
    margin: 1vh 0vw 0vh 0vw;
    transform: rotate(-45deg);
}

#ham:checked~label span:nth-child(2) {
    margin: 0vh 0vw 0vh 0.2vw;
    transform: rotate(45deg);
}

#ham:checked~label span:nth-child(3) {
    opacity: 0;
}

#ham:checked~#sideMenu {
    visibility: visible;
    transition: all 0.4s ease-in-out;
}

button:hover {
    background-color: rgb(0, 0, 0);
}

a:hover {
    color: white !important;
}
=======
}

.menu {
    position: relative;
    top: 10vh;
}

.menu li {
    color: white;
    border-bottom: 5vh solid transparent;
}

.menu li a {
    font-family: 'notable';
    text-decoration: none;
    color: black;
    display: block;
    text-transform: uppercase;
    padding: 20px;
}

.nav {
    width: 40vmin;
    border: none;
    border-radius: 2.5vh;
}

#ham:checked~label span:nth-child(1) {
    margin: 1vh 0vw 0vh 0vw;
    transform: rotate(-45deg);
}

#ham:checked~label span:nth-child(2) {
    margin: 0vh 0vw 0vh 0.2vw;
    transform: rotate(45deg);
}

#ham:checked~label span:nth-child(3) {
    opacity: 0;
}

#ham:checked~#sideMenu {
    visibility: visible;
    transition: all 0.4s ease-in-out;
}

button:hover {
    background-color: rgb(0, 0, 0);
}

a:hover {
    color: white !important;
}

>>>>>>> 466e09e991424cd3ddf210a898edac85b86ce845
