body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 193, 252);
}

.this {
    background-color: white;
    font-size: 30px;
    font-family: 'Pangolin';
    font-weight: bolder;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-radius: 10px;
    width: 30%;
    left: 10%;
    top: 40%;
    position: absolute;
    text-align: center;
}

form {
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    transition: 0.25px;
    border-radius: 50px;
    background-color: rgb(255, 208, 0);
    text-align: center;
    line-height: 40px;
}

#disp {
    color: black;
    background-color: hotpink;
    font-size: large;
    font-family: 'Notable';
    border: 5px solid hotpink;
    border-radius: 10px;
    text-align: right;
}

#disp:hover {
    color: black;
    background-color: white;
    font-family: 'Notable';
    border: 5px solid hotpink;
    border-radius: 10px;
    text-align: right;
}

input[type=button] {
    width: 10%;
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
}

input[type=button]:hover {
    width: 10%;
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
}

.clr {
    font-size: 21.5px!important;
}

.btnDesign {
    background-color: crimson;
    border: 5px solid crimson;
}

.btnDesign:hover {
    background-color: white;
    border: 3px solid black;
}

input[type=button].eql {
    width: 21%;
}

.eql {
    background-color: rgb(4, 173, 4);
    border: 5px solid rgb(4, 173, 4);
}

.eql:hover {
    color: rgb(4, 173, 4);
    background-color: black;
    border: 5px solid black;
}

.opr {
    color: white;
    background-color: rgb(4, 29, 255);
    border: 5px solid rgb(4, 29, 255);
}

.opr:hover {
    color: black;
    background-color: white;
    border: 3px solid black;
}

.z {
    background-color: lime;
    border: 5px solid lime;
}

.z:hover {
    background-color: white;
    border: 3px solid black;
}

.all {
    background-color: rgb(255, 0, 255);
    border: 5px solid rgb(255, 0, 255);
}

.all:hover {
    color: rgb(255, 0, 255);
    background-color: black;
    border: 5px solid black;
}

.clr {
    background-color: orange;
    border: 5px solid orange;
}

.clr:hover {
    color: orange;
    background-color: black;
    border: 5px solid black;
}

.pt {
    background-color: rgb(145, 3, 145);
    border: 5px solid rgb(145, 3, 145);
}

.pt:hover {
    background-color: white;
    border: 3px solid black;
}