* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    position: absolute;
    top: 5vh;
    align-items: center;
    justify-content: center;
}

input[type=button] {
    width: 15vw;
    height: 7vh;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vw;
    font-weight: bolder;
    background-color: crimson;
    color: cyan;
}

input[type=button]:hover,
input[type=button]:focus {
    border: none;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}