@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
html {
    --desk-clr: 0 0 1px #ff00b3, 0 0 2px #ff00b3, 0 0 3px #ff00b3, 0 0 4px #ff00b3, 0 0 5px #ff00b3, 0 0 6px #ff00b3, 0 0 7px #ff00b3, 0 0 8px #ff00b3, 0 0 9px #ff00b3, 0 0 10px #ff00b3;
    --mobile-clr: 0 0 1px #ff00b3, 0 0 3px #ff00b3, 0 0 5px #ff00b3, 0 0 7px #ff00b3, 0 0 9px #ff00b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100%;
    height: 7vh;
    min-height: 40px;
    border-bottom: solid 3.5px #FF0075;
}

.navtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: x-large;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow: var(--desk-clr);
}

.navtitle img {
    width: 5vh;
    height: 5vh;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        height: 50px;
        border-bottom: solid 2px #FF0075;
    }
    .navtitle {
        font-size: large;
        text-shadow: var(--mobile-clr);
    }
    .navtitle img {
        width: 35px;
        height: 35px;
    }
}