* {
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
}

.main {
    position: relative;
    top: 220px;
}

.row,
.input {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    text-align: center;
}

.input {
    margin: 45px;
}

#inp {
    width: 500px;
    height: 100px;
    color: aqua;
    background-color: black;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    box-shadow: -4px -4px 5px 0px rgb(255, 255, 255), 4px 4px 5px 0px rgb(255, 255, 255);
    text-align: center;
}

input[type=button] {
    margin: 0px 0px 6px 12px;
    width: 70px;
    height: 35px;
    color: black;
    background: #fb00ff;
    box-shadow: 3px 3px 2px #d500d9, -3px -3px 2px #ff00ff;
    font-size: 15px;
    font-style: oblique;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=button]:hover {
    margin: 0px 0px 6px 12px;
    width: 70px;
    height: 35px;
    color: rgb(255, 255, 255);
    background: #8000ff;
    box-shadow: 3px 3px 2px #6d00d9, -3px -3px 2px #9300ff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

input[type=button]:focus {
    margin: 0px 0px 6px 12px;
    width: 70px;
    height: 35px;
    color: rgb(0, 0, 0);
    background: #00ffff;
    box-shadow: 3px 3px 2px #00ffff, -3px -3px 2px #00ffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

#shift {
    position: relative;
}

#shift,
#back {
    width: 150px;
}

#space {
    width: 300px;
}