* {
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    margin-top: 100px;
}

.main {
    width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.panel {
    width: 248px;
    height: 260px;
    background-color: black;
    display: flex;
    position: absolute;
    top: -90px;
    left: 0px;
    border-radius: 20px;
    transform: translateY(-450px);
    transition: all 1s ease-in-out;
}

.icons {
    margin-bottom: 20px;
    width: 22px;
    height: 22px;
    background: #18191f;
    font-size: 100% !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    color: gray;
    border-radius: 20px;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.25), 3px 3px 5px rgba(255, 255, 255, 0.05);
    position: absolute;
    top: 50px;
    right: 10px;
}

.data {
    transform: rotateY(180deg);
    box-shadow: 3px -3px 5px rgba(255, 255, 255, 0.25), -3px 3px 5px rgba(255, 255, 255, 0.05)!important;
}

.last {
    width: 248px;
    background-color: gray;
    font-family: 'roboto';
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    position: relative;
    top: 100px;
}

.container1 {
    width: 243px;
    height: 25px;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    left: 111px;
    transform: translateY(0px);
    transition: opacity 1s ease-in-out;
}

.bar {
    width: 500px;
    height: 100px;
    margin: 5px 10px -6px 10px;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 100px;
}

.time2 {
    display: flex;
    color: blanchedalmond;
    background-color: rgb(0, 224, 224);
    border-radius: 20%;
    font-family: 'roboto';
    font-size: 17px;
    position: relative;
    top: 0px;
    right: 83px;
}

.material-icons {
    position: relative;
}

input[type=checkbox] {
    visibility: hidden;
}

#wifi:checked~label .wifi,
#sound:checked~label .sound,
#data:checked~label .data,
#sr:checked~label .sr,
#plane:checked~label .plane,
#bt:checked~label .bt,
#flash:checked~label .flash,
#spot:checked~label .spot,
#view:checked~label .view,
#gps:checked~label .gps,
#qr:checked~label .qr,
#nfc:checked~label .nfc,
#dnd:checked~label .dnd,
#dark:checked~label .dark {
    color: white;
    background-color: blue;
    text-shadow: white 0px 0px 15px;
}

#cont:checked~label .panel {
    transform: translateY(90px);
}

#cont:checked~label .container1 {
    opacity: 0;
}
